AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: True
AllowAllArgumentsOnNextLine: False
AllowAllParametersOfDeclarationOnNextLine: False
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: False
AllowShortEnumsOnASingleLine: True
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: False
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: True
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: True
BinPackParameters: True
BitFieldColonSpacing: Both
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: False
BreakStringLiterals: True
ColumnLimit: 100
ContinuationIndentWidth: 8
IncludeBlocks: Preserve
IndentAccessModifiers: False
IndentCaseLabels: False
IndentGotoLabels: True
IndentWidth: 4
InsertBraces: True
KeepEmptyLinesAtTheStartOfBlocks: False
MaxEmptyLinesToKeep: 1
Language: Cpp
PointerAlignment: Right
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: False
SpaceAfterLogicalNot: False
SpaceBeforeAssignmentOperators: True
SpaceBeforeCaseColon: False
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: False
SpaceInEmptyBlock: False
SpaceInEmptyParentheses: False
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: False
SpacesInConditionalStatement: False
SpacesInLineCommentPrefix:
    Minimum: 1
    Maximum: 1
SpacesInParentheses: False
SpacesInSquareBrackets: False
UseTab: Never
