name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      DEVKITPPC: opt/devkitpro/devkitPPC
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache DevkitPPC
        id: cache-1
        uses: actions/cache@v2
        with:
          path: cache
          key: ${{ runner.os }}-cache-dkp
      - name: Download devkitPPC
        if: steps.cache-1.outputs.cache-hit != 'true'
        run: | 
          mkdir cache && cd cache
          wget "https://wii.leseratte10.de/devkitPro/devkitPPC/r40%20(2022-01)/devkitPPC-r40-1-linux_x86_64.pkg.tar.xz"
          cd ..
      - name: Extract devkitPPC
        run: tar -xf cache/devkitPPC-r40-1-linux_x86_64.pkg.tar.xz
      - name: Install ninja
        run: sudo apt install ninja-build
      - name: Install PyPy
        uses: actions/setup-python@v2
        with:
          python-version: 'pypy-3.8'
      - name: Install json5
        run: pip install json5
      - name: Install pyelftools
        run: pip install pyelftools
      - name: Install itanium_demangler
        run: pip install itanium_demangler
      - name: Configure ninja
        run: ./configure.py
      - name: Compile
        run: ninja
      - name: Upload result
        uses: actions/upload-artifact@v2
        with: 
          name: mkw-sp
          path: out
